h1{
    color: rgb(166, 166, 250);
    font-size: 200%;
    text-align: center;

}

p {
    fontfamily: "comic sans";
    text-indent: 20px;
    margin-left: 10px;
}

#content {
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 10px #ffb7e5;
    background-color: #dcfcff;
    min-height: 300px;
    margin: 10px;
    
  }